
.button-container {
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: .5rem;
	margin-top: 1rem;
}
.container {
	padding: 1rem;
}

.hard.mat-mdc-fab.mat-primary {
	--mdc-fab-container-color: #1a3644;
}

.okay.mat-mdc-fab.mat-primary {
	--mdc-fab-container-color: #3b5f71;
}

.easy.mat-mdc-fab.mat-primary {
	--mdc-fab-container-color: #607d8b;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	gap: .5rem 0;
	padding-bottom: 1.2rem;
}