.off.mat-mdc-unelevated-button:not(:disabled) {
  background-color: #c5c7cb;
  color: #8b8685;
}

.mat-mdc-unelevated-button{
  transition: background-color 0.3s;
}

.mat-mdc-fab.mat-primary {
  --mat-fab-container-color: #4a555b;
  --mat-fab-foreground-color: white;
  --mat-fab-state-layer-color: white;
}

.mat-mdc-unelevated-button.mat-primary {
  --mat-button-filled-container-color: #4a555b;
  --mat-button-filled-label-text-color: white;
  --mat-button-filled-state-layer-color: white;
  --mat-button-filled-ripple-color: rgba(255, 255, 255, 0.1);
}