h2 {
  font-size: 1.8rem;
  font-weight: 100;
}

.result-container {
  padding-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.result-title {
  font-size: 2rem;
  font-weight: 100;
}

.result-actions {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.result-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.stat-grid {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.accuracy-pie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  canvas {
    max-height: 20rem;
    max-width: 20rem;
  }
}

.timeline {
  margin-top: 2rem;
}

.percent-memorized {
  font-size: 6rem;
  font-weight: 800;
  color: #607d8b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  .percent {
    font-weight: 400;
    color: #a7babd;
  }
  .word-count {
    font-size: 1.2rem;
    font-weight: 400;
    color: #ababab;
  }
}

.stat-card{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  background: white;

  .stat-card-header {
    align-self: flex-start;
    
    .stat-card-title {
      font-size: 1rem;
      font-weight: 100;
    } 
  
    .stat-card-subtitle {
      font-size: .8rem;
      font-weight: 100;
      color: #797979;
    }
  }
  .stat-card-body {
    width: 100%;
    flex-grow: 1;
  }
}

.result-subtitle {
  color: #797979;
  font-weight: 100;
  font-size: 1rem;
}

.no-attempts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 1rem;
  color: #616161;

  mat-icon {
    font-size: 8rem;
    color: #c2c2c2;
    height: auto;
    width: auto;
  }

  span {
    margin-bottom: 2rem;
  }
}

.attempts {
  margin-top: 2rem;
}

.history-table {
  border-radius: 5px;
}

.history-table-header-row {
  border-radius: 5px;
}

.history-paginator {
  border-radius: 0 0 5px 5px;
}

.mat-mdc-table {
  border-radius: 5px 5px 0 0;
}

.attempt-actions {
  display: flex;
  flex-wrap: nowrap;
}

// media rule
@media (max-width: 768px) {
  .result-container {
    padding-top: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .result-title {
    font-size: 1.5rem;
  }

  .result-subtitle {
    font-size: 0.8rem;
  }
}

// media rule
@media (max-width: 600px) {
  .result-container {
    padding-top: 1rem;
  }

  .result-title {
    font-size: 1.2rem;
  }

  .mdc-data-table__cell,
  .mdc-data-table__header-cell {
    padding: 0rem 0.2rem;
  }
  td {
    font-size: 0.8rem;
  }
}
