.donate-popup {
  max-width: 600px;
  color: #222;
}

.title {
  // Styles for the title element
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.hr {
  width: 100%;
  border: 0;
  height: 1px;
  background-color: #999999;
}

.introduction{
  // Styles for the introduction element
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 2rem;
}