<mat-dialog-content class="donate-popup">
  <h2 class="title">Donate</h2>
  <p class="introduction">
    One of the major reasons I created this tool was to help provide funding to
    friends who are pursuing ministry. I plan on rotating the people that these
    donations go to every few months, and currently, the donations are going to
    support some dear friends of mine who are preparing to train for overseas
    mission work. Read about them below:
  </p>
  <p>
    N and A are preparing to leave for <a target="_blank" href="https://radiusinternational.org/">Radius International</a>, 10-month program designed to train
    missionaries to go to people groups with no bible translation. They are
    passionate about bringing the gospel to those who have never heard it
    before, and will be participating in translation and church-planting
    efforts.
  </p>
  <p>
    Your donation will help support their training, travel expenses, and living
    costs during this program.
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="warn">Close</button>
  <a
    mat-raised-button
    color="primary"
    target="_blank"
    href="https://churchatthecross.churchcenter.com/giving/to/ortiz-mission-support"
    >Donate</a
  >
</mat-dialog-actions>
