.history-item {
	cursor: pointer;
}
.history-item-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0.5rem;
	gap: 1rem;
	border-bottom: 1px solid #e0e0e0;
	flex-wrap: wrap;
}

.mat-column-actions {
	width: 128px;
}

.history-table {
	border-radius: 5px;
}

.history-table-header-row {
	border-radius: 5px;
}

.history-paginator {
	border-radius: 0 0 5px 5px;	
}

.container {
	padding: 1rem;
}

.mat-mdc-table {
	border-radius: 5px 5px 0 0;
}

.history-header {
	font-weight: 300;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.full-width {
	width: 100%;
}

.attempt-actions {
	display: flex;
	flex-wrap: nowrap;
}