<h2 mat-dialog-title>Select Passage</h2>
<mat-dialog-content class="mat-typography dialog-content">
  <span class="message-text">Oops, it looks like we couldn't find the passage you were reciting. Specify
  below!</span>
  <form class="verse-selector-container" #f="ngForm" (ngSubmit)="submit()">
    <div class="start-container verse-selector">
      <app-verse-selector #start></app-verse-selector>
    </div>
    <div class="end-container verse-selector">
      <app-verse-selector #end></app-verse-selector>
    </div>
  </form>
  <div class="verse-preview">
    <div class="verse-preview-header">Verse Preview</div>
    <div class="verse-preview-content">
      {{ getPreview() }}
    </div>
  </div>
  <div class="button-container">
    <button
      *ngFor="let passage of dedupedAnchors"
      (click)="selectPassage(passage)"
      mat-raised-button
    >
      {{ passage }}
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="this.submit()" [disabled]="!this.isValid()">
    Submit
  </button>
</mat-dialog-actions>

