<h2 mat-dialog-title>Welcome to Pericopy!</h2>
<mat-dialog-content class="mat-typography dialog-content">

  <div class="scripture_container">
    <div class="verse">
      <div class="verse_text">
        Let the word of <span class=emphasis>Christ</span> dwell in you richly
      </div>
      <div class="verse_reference">
        Colossians 3:16a
      </div>
    </div>
  </div>

  <p>
    Welcome to Pericopy! The above passage from Colossians is the inspiration for this project-
    I believe in the surpassing worth and wisdom of God and his word above all else, and hope that
    this tool can help instill that belief in others.
  </p>

  <p>
    Pericopy is a web application centered around the memorization of longer passages of scripture.
    To get started, simply create a goal and begin reciting the passage! To hear more about the tool,
    visit the <a href="/info">info page</a>.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="primary">
    Get Started
  </button>
</mat-dialog-actions>

