<h2 mat-dialog-title>Select Passage</h2>
<mat-dialog-content class="mat-typography dialog-content">
  Oops, it looks like we couldn't find the passage you were reciting. Specify
  below!
  <div class></div>
  <form class="verse-selector-container" #f="ngForm" (ngSubmit)="submit()">
    <div class="start-container verse-selector">
      <div class="book-select">
        <select
          name="b1"
          [(ngModel)]="model.b1"
          (change)="this.model.c1 = null; this.model.v1 = null"
        >
          <option *ngFor="let book of getBooks()" [ngValue]="book">{{
            abbreviateBookName(book.m.b)
          }}</option>
        </select>
	</div>
      <div class="number-select">
        <select
          [disabled]="!this.model.b1"
          name="c1"
          [(ngModel)]="model.c1"
          (change)="this.model.v1 = null"
        >
          <option
            *ngFor="let chapter of this.model.b1 ? this.model.b1.v : []"
            [ngValue]="chapter"
            >{{ chapter.m.c }}</option
          >
        </select>
      </div>
      <div class="number-select">
        <select
          [disabled]="!this.model.b1 || !this.model.c1"
          name="v1"
          [(ngModel)]="model.v1"
        >
          <option
            *ngFor="let verse of this.model.c1 ? this.model.c1.v : []"
            [ngValue]="verse"
            >{{ verse.m.v }}</option
          >
        </select>
      </div>
    </div>
    <div class="end-container verse-selector">
      <div class="book-select">
        <select
          name="b2"
          [(ngModel)]="model.b2"
          (change)="this.model.c2 = null; this.model.v2 = null"
        >
          <option *ngFor="let book of getBooks()" [ngValue]="book">{{
            book.m.b
          }}</option>
        </select>
      </div>
      <div class="number-select">
        <select
          [disabled]="!this.model.b2"
          name="c2"
          [(ngModel)]="model.c2"
          (change)="this.model.v2 = null"
        >
          <option
            *ngFor="let chapter of this.model.b2 ? this.model.b2.v : []"
            [ngValue]="chapter"
            >{{ chapter.m.c }}</option
          >
        </select>
      </div>
      <div class="number-select">
        <select
          [disabled]="!this.model.b2 || !this.model.c2"
          name="v2"
          [(ngModel)]="model.v2"
        >
          <option
            *ngFor="let verse of this.model.c2 ? this.model.c2.v : []"
            [ngValue]="verse"
            >{{ verse.m.v }}</option
          >
        </select>
      </div>
    </div>
  </form>
  <div class="verse-preview">
    <div class="verse-preview-header">Verse Preview</div>
    <div class="verse-preview-content">
      {{ getPreview() }}
    </div>
  </div>
  <div class="button-container">
    <button
      *ngFor="let passage of dedupedAnchors"
      (click)="selectPassage(passage)"
      mat-raised-button
    >
      {{ passage }}
    </button>
  </div>
  <div class="dialog-footer">
    
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="this.submit()" [disabled]="!this.isValid()">
    Submit
  </button>
</mat-dialog-actions>

