<h2 mat-dialog-title>We got an update!</h2>
<div class="version-label">
  <mat-icon color="primary">info</mat-icon>
  <span>Version {{this.getVersion()}}</span>
</div>
<mat-dialog-content class="mat-typography dialog-content">
  
  <p>
    We've just released a new version of Pericopy! 🎉
  </p>

  <div>
    Here are some of the highlights contained in this release:
    <ul>
      <li>Completely redesigned home page with goal-centric experience and prominent goal creation</li>
      <li>Added "Continue Working" section showing active goals with quick practice access</li>
      <li>Added completely new "Fill Blanks" practice mode</li>
    </ul>
  </div>

  <p>
    To learn more about this release, visit the <a href="https://github.com/imatson9119/Pericopy/blob/main/changelog.md">release notes page</a>.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="primary">
    Let's go!
  </button>
</mat-dialog-actions>