h2 {
  font-size: 1.8rem;
  font-weight: 100;
  margin-top: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  // margin-bottom: 300px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
  align-items:flex-end;
  margin-top: 1rem;
}


.input-height-container {
  display: flex;
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

.measure-element {
  height:auto;
  overflow:hidden;
}

.subtitle {
  color: #666;
  font-weight: 100;
  font-size: .9rem;
}