<div class="main-container">
  <div class="logo-container">
    <div class="left">
      <img src="assets/logo.png" alt="Pericopy Logo" class="logo" />
    </div>
    <div class="right">
      <span class="title">Pericopy</span>
      <span class="subtitle">"Let the word of Christ dwell in you richly"</span>
    </div>
  </div>
  <h2>About Pericopy</h2>
  <div class="scripture-text">
    The law of the LORD is perfect, <br />
    reviving the soul; <br />
    the testimony of the LORD is sure, <br />
    making wise the simple; <br />
    the precepts of the LORD are right, <br />
    rejoicing the heart; <br />
    the commandment of the LORD is pure, <br />
    enlightening the eyes <br /><br />
    <div class="scripture-reference">Psalm 19:7-8</div>
  </div>
  <br />
  <p>
    As the above passage from Psalm 19:7-8 states, the word of God is perfect, sure,
    right, and pure, and it is my belief that immersing oneself in it is one of
    the most beneficial things one can do. Pericopy is a tool that I created to
    help myself and others memorize scripture more effectively - I hope that you
    find it useful and that it serves you well as you seek the Lord through His
    word.
  </p>

  <h3 class="section">Why Pericopy?</h3>
  <div class="hr"></div>
  <br />
  <p>
    As mentioned above, the primary reason that I created Pericopy was to help
    myself and others memorize scripture more effectively - I had found that
    most scripture memorization tools were focused on smaller sections and there
    were few tools that were designed to help with memorizing larger passages.
  </p>
  <p>
    Another significant reason I started this project was to help fund friends
    (and hopefully myself one day) who are pursuing missions in unreached
    contexts. Currently, your donations go to support my friends who are
    attending <a target="_blank" href="https://radiusinternational.org/" rel="noopener">Radius International</a>, a 10-month training program to bring the gospel to unreached
    language groups. If you would like to donate, you can do so
    <a
      href="https://churchatthecross.churchcenter.com/giving/to/ortiz-mission-support"
      target="_blank"
      rel="noopener"
      >here</a
    >.
  </p>

  <div class="section">
    <h3>Frequently Asked Questions</h3>
    <div class="hr"></div>
    <div class="question">
      <div class="question-text">How do I get started?</div>
      <div class="answer">
        To get started, click the "Test" button in the menu above. You will be
        prompted to recite a passage of scripture, then you can begin
        reciting the passage. Once you have finished, click the "Submit" button
        to see how you did.
      </div>
    </div>
    <div class="question">
      <div class="question-text">How does this work?</div>
      <div class="answer">
        When you recite a passage of scripture, Pericopy will compare what you
        said to the actual text of the passage. From there, it will calculate a
        score based on how many words you got correct and how many you got
        wrong. You can then view your score and compare your recitation to the
        actual text.
      </div>
    </div>
    <div class="question">
      <div class="question-text">Where is my data stored?</div>
      <div class="answer">
        Your data is stored locally on your device. Pericopy uses LocalStorage
        to store your recitation attempts, goals, and other data. This means
        that your data is not stored on any external servers and is only
        accessible from the device on which you are using Pericopy. To back up
        your data or move it to another device, you can use the "Export Data"
        and "Import Data" buttons under the history page.
      </div>
    </div>
  </div>
  <div class="bottom-section">
    <h3>Thank you for using Pericopy!</h3>
    <p>
      I hope that Pericopy is a blessing to you and that it enables you to know
      and understand God's word better. If you have any questions, comments, or
      suggestions, please feel free to reach out to me using one of the methods
      below. I would love to hear from you!
    </p>
    <div class="contact-info">
      <a class="contact-link em" href="mailto:contact@pericopy.net" target="_blank">
        <mat-icon>open_in_new</mat-icon>
        Email
      </a>
      <a class="contact-link li" href="https://www.linkedin.com/in/ianmatson/" target="_blank" rel="noopener">
        <mat-icon>open_in_new</mat-icon>
        LinkedIn
      </a>
      <a class="contact-link gh" href="https://github.com/imatson9119" target="_blank" rel="noopener">
        <mat-icon>open_in_new</mat-icon>
        GitHub
      </a>
    </div>
  </div>
  <button (click)="this.openDonatePopup()" color="primary" mat-fab extended class="donate">
    <mat-icon>favorite</mat-icon>
    Donate
  </button>
</div>
