<div class="main-container">
  <div class="header">
    <mat-toolbar color="primary">
      <button
        [matMenuTriggerFor]="menu"
        mat-icon-button
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item routerLink="/history">
          <mat-icon>history</mat-icon>
          <span>History</span>
        </button>
      </mat-menu>
      <span>Roman Road</span>
    </mat-toolbar>
  </div>
  <router-outlet></router-outlet>
</div>
