<div class="main-container">
  <div class="header">
    <mat-toolbar color="primary">
      <div class="toolbar-container">

        <div class="left">
          <button
            [matMenuTriggerFor]="menu"
            mat-icon-button
          >
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/">
              <mat-icon color="primary">home</mat-icon>
              <span>Home</span>
            </button>
            <button mat-menu-item routerLink="/test">
              <mat-icon color="primary">edit_note</mat-icon>
              <span>Test</span>
            </button>
            <button mat-menu-item routerLink="/history">
              <mat-icon color="primary">history</mat-icon>
              <span>History</span>
            </button>
            <button mat-menu-item routerLink="/heatmap">
              <mat-icon color="primary">local_fire_department</mat-icon>
              <span>Heatmap</span>
            </button>
            <button mat-menu-item routerLink="/info">
              <mat-icon color="primary">info</mat-icon>
              <span>Info</span>
            </button>
          </mat-menu>
          <span class="header-text">PeriCopy</span>
        </div>
        <div>
          <button class="bible-version-selector" [matMenuTriggerFor]="bibleVersionMenu">
            <mat-icon>book</mat-icon>
            <span class="button-text">{{this.bibleVersion.toUpperCase()}}</span>
          </button>
          <mat-menu #bibleVersionMenu="matMenu">
            <button mat-menu-item *ngFor="let version of this.supportedVersions" (click)="this.setBibleVersion(version)">
              {{version.toUpperCase()}}
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>
  </div>
  <div class="content-container">
    <div class="width-limit">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
