<div class="input-container">
  <div class="header">Scripture Memory</div>
  <mat-form-field class="example-full-width">
    <mat-label>Scripture here</mat-label>
    <textarea
      #input
      [(ngModel)]="attempt"
      matInput
      placeholder="In the beginning, God..."
      (keydown)="this.onKeyDown($event)"
      (input)="this.adjustInputHeight()"
    ></textarea>
  </mat-form-field>
  <div class="button-container">
    <button (click)="submit()" mat-flat-button color="primary">Submit</button>
    <button (click)="toggleVoice()" [ngClass]="{recording: this.recording}" class="record-button" mat-mini-fab aria-label="Dictate">
      <mat-icon>mic</mat-icon>
    </button>
  </div>
</div>
