h2 {
  font-size: 1.8rem;
  font-weight: 100;
}

.result-container {
  padding-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.result-title {
  font-size: 2rem;
  font-weight: 100;
}

.result-actions {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.result-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.result-subtitle {
  color: #797979;
  font-weight: 100;
  font-size: 1rem;
}

.stat-container {
  display: flex;
  flex-direction: column;
  min-width: 180px;
  height: 180px;
  background: #48545b;
  border-radius: 18px;
  padding: 0.5rem;
  box-sizing: border-box;
  color: #e0e2e7;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wordsRemoved {
  background: #555143;
}

.wordsAdded {
  background: #514049;
}

.stat-value {
  font-size: 3.5rem;
  font-weight: 300;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.stat-label {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}

.mat-mdc-fab.mat-primary {
  --mdc-fab-container-color: #4a555b;
  --mat-fab-foreground-color: white;
  --mat-fab-state-layer-color: white;
}

.mat-icon.mat-primary {
  --mat-icon-color: #4a555b;
}

// media rule
@media (max-width: 768px) {
  .result-container {
    padding-top: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .result-title {
    font-size: 1.5rem;
  }

  .stat-container {
    min-width: 120px;
    height: 120px;
    border-radius: 12px;
    padding: 0.25rem;
  }

  .stat-value {
    font-size: 2.5rem;
  }

  .stats-container {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    gap: 0.5rem;
  }

  .stat-label {
    font-size: .8rem;
  }

  .result-subtitle {
    font-size: .8rem;
  }
  
}

// media rule
@media (max-width: 600px) {
  .result-container {
    padding-top: 1rem;
  }
  
  .stat-container {
    min-width: 80px;
    height: 80px;
    border-radius: 8px;
    padding: 0.2rem;
  }

  .stat-value {
    font-size: 1.6rem;
  }

  .stat-label {
    font-size: .6rem;
  }
}
