.added {
  color: red;
  text-decoration: line-through;
}

.removed {
  color: rgb(173, 173, 173);
}

.chapter {
  .chapter-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.book {
  display: flex;
  flex-direction: column;

  .book-title {
    font-size: 2rem;
    font-weight: bold;
  }
}

.verse-number {
    font-size: .5rem;
    font-weight: 700;
    vertical-align: top;
}

.tab-inner-container {
  padding: 1rem;
}
