<ng-container *ngIf="this.selectionStage===0">
	<h2 mat-dialog-title>Select Book</h2>
	<mat-dialog-content class="mat-typography dialog-content">
		<button *ngFor="let book of this.getBooks()" (click)="this.selectBook(book)">{{this.abbreviateBookName(book.m.b)}}</button>
	</mat-dialog-content>
</ng-container>
<ng-container *ngIf="this.selectionStage===1">
	<h2 mat-dialog-title>Select Chapter</h2>
	<mat-dialog-content class="mat-typography dialog-content">
		<button *ngFor="let chapter of this.value['book'].v" (click)="this.selectChapter(chapter)">{{chapter.m.c}}</button>
	</mat-dialog-content>
</ng-container>
<ng-container *ngIf="this.selectionStage===2">
	<h2 mat-dialog-title>Select Verse</h2>
	<mat-dialog-content class="mat-typography dialog-content">
		<button *ngFor="let verse of this.value['chapter'].v" (click)="this.selectVerse(verse)">{{verse.m.v}}</button>
	</mat-dialog-content>
</ng-container>
