

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #e0e2e7;}
h2 {
	margin-top: 2rem;
}
button {border: none;
    background: none;
    padding: 0;}

.page-loader {
	display:flex;
	justify-content: center;
	align-items: flex-end;
	height: 30vh;
}