<div class="main-container" *ngIf="this.bible else loading">
  <h2>Welcome to PeriCopy!</h2>
  <p>Welcome to PeriCopy. Our goal is to enable you to quickly and effectively memorize large passages of scripture. Here, you can track your progress, set goals, and improve your scripture recitation skills.</p>
  <div class="no-stats" *ngIf="this.attempts.size === 0; else stats">
    <div class="no-attempts">
      <mat-icon>
        query_stats
      </mat-icon>
      <span>
        Looks like you haven't made any attempts yet.
      </span>
      <button mat-raised-button color="primary" (click)="this.makeAttempt()">
        Go for it!
      </button>
    </div>
  </div>
  <ng-template #stats>
    <div class="stats">
      <span>You've memorized <span class="emphasis">{{ totalVerses }}</span> verses so far - keep it up!</span>
    </div>
  </ng-template>
  <div class="goals">
    <div class="goals-header">
      <div>Your Goals</div>
      <button mat-icon-button (click)="this.addGoal()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="hr"></div>
    <div *ngIf="this.goals.length !== 0 && this.bible" class="goals-container">
      <button class="goal" *ngFor="let goal of this.goals" (click)='this.loadGoal(goal.id)'>
        <div class="goal-header">
          <div class="goal-title">{{ goal.title }}</div>
        </div>
        <div class="goal-text">
          {{getGoalText(goal)}}
        </div>
        <div class="goal-footer">
          {{ this.getLastAttemptText(goal)}}
        </div>
      </button>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="page-loader">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>