<div class="main-container" *ngIf="this.bible; else loading">
  <div class="logo-container">
    <div class="left">
      <img src="assets/logo.png" alt="PeriCopy Logo" class="logo" />
    </div>
    <div class="right">
      <span class="title">PeriCopy</span>
      <span class="subtitle">"Let the word of Christ dwell in you richly"</span>
    </div>
  </div>
  <div class="no-stats" *ngIf="this.attempts.size === 0; else stats">
    <div class="no-attempts">
      <mat-icon> query_stats </mat-icon>
      <span> Looks like you haven't made any attempts yet. </span>
      <button mat-raised-button color="primary" (click)="this.makeAttempt()">
        Go for it!
      </button>
    </div>
  </div>
  <ng-template #stats>
    <div class="stats">
      <span
        >You've memorized <span class="emphasis">{{ totalVerses }}</span> verses
        so far - keep it up!</span
      >
    </div>
  </ng-template>
  <div class="goals">
    <div class="goals-header">
      <div>Your Goals</div>
      <button mat-icon-button (click)="this.addGoal()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="hr"></div>
    <div *ngIf="this.goals.length !== 0 && this.bible" class="goals-container">
      <mat-form-field class="full-width">
        <mat-label>Filter</mat-label>
        <input
          matInput
          value=""
          [(ngModel)]="filterValue"
          (keyup)="this.applyFilter($event)"
        />
        <mat-icon matSuffix>filter_list</mat-icon>
      </mat-form-field>
      <table
        class="attempt-table"
        mat-table
        matSort
        matSortActive="time"
        matSortDirection="desc"
        matSortDisableClear
        [dataSource]="dataSource"
      >
        <ng-container matColumnDef="title">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by passage"
          >
            Passage
          </th>
          <td mat-cell *matCellDef="let goal">{{ goal.title }}</td>
        </ng-container>

        <ng-container matColumnDef="time">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by time"
          >
            Last Attempt
          </th>
          <td mat-cell *matCellDef="let goal">
            {{ this.getLastAttemptText(goal) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nAttempts">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by number of attempts"
          >
            Attempts
          </th>
          <td class="score" mat-cell *matCellDef="let goal">
            {{ goal.attempts.size }}
          </td>
        </ng-container>

        <tr
          class="history-table-header-row"
          mat-header-row
          *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr
          mat-row
          class="row"
          (click)="this.navigateToGoal(row)"
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
      <mat-paginator
        class="history-paginator"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="page-loader">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
