<div class="verse-selector-container">
  <div *ngIf='this.label' class="verse-selector-header">{{this.label}}</div>
  <div class="verse-selector">
    <select
      matRipple
      class="book-select"
      name="b"
      [(ngModel)]="this.b"
      (change)="this.resetChapter()"
    >
      <option matRipple *ngFor="let book of getBooks()" [ngValue]="book">
        {{ this.abbreviateBookName(book.m.b) }}
      </option>
    </select>
  
    <select
      matRipple
      class="chapter-select"
      [disabled]="!this.b"
      name="c"
      [(ngModel)]="this.c"
      (change)="this.resetVerse()"
    >
      <option
        matRipple
        *ngFor="let chapter of this.b ? this.b.v : []"
        [ngValue]="chapter"
      >
        {{ chapter.m.c }}
      </option>
    </select>
    <select
      matRipple
      [disabled]="!this.b || !this.c"
      name="v"
      [(ngModel)]="this.v"
      class="verse-select"
    >
      <option
        matRipple
        *ngFor="let verse of this.c ? this.c.v : []"
        [ngValue]="verse"
      >
        {{ verse.m.v }}
      </option>
    </select>
  </div>
</div>
